.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    font-size: 18px;
    font-family: "Rubik", sans-serif;
}

.background{
    background-image: url("/assets/media/pattern-bg-desktop.png");
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

h1{
    text-align: center;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 93.75% */
    letter-spacing: -0.286px;
    padding-top: 32px;
    padding-bottom: 31px;
}

.background .input-group{
    width: 555px;
    height: 58px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.10);
    margin: 0 auto;
}

.background .input-group span{
    width: 58px;
    height: 58px;
    background-color: black;
    border: 1px solid black;
}

.background .input-group span img{
    margin: auto;
}

.details{
    margin: auto;
    position: relative;
    width: 75%;
}

.row.position-absolute {
    width: 100%; /* Ensure it stretches across the container */
}

.row{
    border: 1px solid black;
    border-radius: 26px;
    padding: 32px 0px 32px 0px;
    margin-top: 48px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.10);
    flex-wrap: nowrap;
    height: auto;
}

.col-3{
    padding-left: 31px;
    flex: 1;
}

p{
    color: #2C2C2C;
    opacity: 0.4987;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.75px;
    text-transform: uppercase;

}

.details span{
    font-size: 26px;
    font-weight: 500;
    line-height: 30px; /* 115.385% */
    letter-spacing: -0.232px;

}
